@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: var(--color-back);
    overflow: hidden;
}

img {
    height: 50px;
    width: 50px;
}

.navbar {  
    position: absolute;
    width: 1920px;
    height: 190px;
    left: -8px;
    top: -6px;   
    background-color: var(--color-primary);
}

.title {
    position: absolute;
    width: 584px;
    height: 160px;
    left: 668px;
    top: -120px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 160px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#toggle-theme {
    width: 85px;
    height: 45px;
    background-color:var(--color-native);
    padding: 0;
    border: none;
    border-radius: 22.5px;
    position: absolute;
    left: 1730px;
    top: 70px
}

.theme-dark {
    --color-primary:#79B4B7;
    --color-sec:#F8F0DF;
    --color-third:#9D9D9D;
    --color-back:beige;
    --color-native:#0f044c;
}

.theme-light {
    --color-primary:#0f044c;
    --color-sec:#EEEEEE;
    --color-third:#141E61;
    --color-back:darkslateblue;
    --color-native:#79B4B7;
}

#slider {
    width: 46px;
    height: 46px;
    background-color: #FEFBF3;
    margin: 1px;
    border-radius: 50%;
    float: right;
}

.table-title{
    position: relative;
    z-index: 3;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    bottom: 95px;
    color: #FFFFFF;
}

.home-style {
    position: absolute;
    width: 900px;
    height: 578px;
    left: 510px;
    top: 261px;
    background-color: var(--color-sec);
    border-radius: 23px;
    border:5px solid var(--color-third);
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-direction: alternate;
}

.home-ellipse {
    position: absolute;
    width: 901px;
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--color-third);
    right: 0.002px;
}

#iframecount {
    position: absolute;
    bottom: 110px;
    left: 440px;
    border: none;
    width: 300px;
    height: 300px;
}

#iframeremaining {
    position: absolute;
    bottom: -10px;
    left: 550px;
    border: none;
    width: 300px;
    height: 300px;
}

.table-in {
    text-align: center;
    position: relative;
    font-size: 100px;
    line-height: 100px;
    font-family: 'Courier Prime';
    bottom: 120px;
    right: 100px;
}

.table-remain {
    text-align: center;
    position: relative;
    font-size: 100px;
    line-height: 100px;
    font-family: 'Courier Prime';
    bottom: 200px;
    right: 100px;
}

.swaphistory {
    position: absolute;
    bottom: 320px;
    background-color: var(--color-sec);
    border: none;
    left: 790px;
    z-index: 3;
    transition-duration: 0.7s;

}

.swaphistory:hover {
    transform: translateY(-7px);
} 

.swaphome {
    position: absolute;
    bottom: 320px;
    background-color: var(--color-sec);
    border: none;
    left: 1450px;
    z-index: 3;
    transition-duration: 0.7s;

}

.swaphome:hover {
    transform: translateY(-7px);
} 

.historystyle {
    display: none;
}

.history-ellipse {
    position: absolute;
    width: 1561px;
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--color-third);
    left: 0.02px;
}

.history-title {
    position: relative;
    z-index: 3;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    bottom: 95px;
    color: #FFFFFF;
}

#iframeinfo {
    position:absolute;
    top:180px;
    height: 350px;
    width: 1500px;
    left: 30px;
    border: none;

}

.hide-home {
    display: none;
}

.show-history {
    position: absolute;
    width: 1558px;
    height: 578px;
    left: 181px;
    top: 261px;
    background-color: var(--color-sec);
    border-radius: 23px;
    border:5px solid var(--color-third);
    display: inline;
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-direction: alternate;
}

#refresh {
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 30px;
    top: 920px;
    left: 770px;
    font-family: 'Lobster';
    font-size: 64px;
    color: white;
    background-color: var(--color-third);
    border: 5px solid;
    border-color: var(--color-sec);
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}